[class^="ico-"],[class*=" ico-"]{
  font-size:1.8rem;
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.ico-plus:before{
  content:"\002B"; 
}
.ico-plus-circle:before{
  content:"\2A01"; 
}
.ico-minus:before{
  content:"\002D"; 
}
.ico-close:before{
  content:"\00D7"; 
}
.ico-close-circle:before{
  content:"\2A02"; 
}
.ico-close-square:before{
  content:"\2612"; 
}
.ico-close-left:before{
  content:"\2326"; 
}
.ico-close-right:before{
  content:"\232B"; 
}
.ico-check:before{
  content:"\2713"; 
}
.ico-checked:before{
  content:"\2714"; 
}
.ico-left:before{
  content:"\2039"; 
}
.ico-right:before{
  content:"\203A"; 
}
.ico-dleft:before{
  content:"\00AB"; 
}
.ico-dright:before{
  content:"\00BB"; 
}
.ico-refresh:before{
  content:"\21BA"; 
}
.ico-stop:before{
  content:"\29B8"; 
}
.ico-time:before{
  content:"\25F7"; 
}
.ico-history:before{
  content:"\25F4"; 
}
.ico-loop:before{
  content:"\267A"; 
}
.ico-arrow-left:before{
  content:"\2190"; 
}
.ico-arrow-up:before{
  content:"\2191"; 
}
.ico-arrow-right:before{
  content:"\2192"; 
}
.ico-arrow-down:before{
  content:"\2193"; 
}
.ico-left-right:before{
  content:"\2B82"; 
}
.ico-up-down:before{
  content:"\2B83"; 
}
.ico-upload:before{
  content:"\21DE"; 
}
.ico-download:before{
  content:"\21DF"; 
}
.ico-waiting:before{
  content:"\29D2"; 
}
.ico-wait:before{
  content:"\29D1"; 
}
.ico-block:before{
  content:"\2756"; 
}
.ico-square:before{
  content:"\29C9"; 
}
.ico-star:before{
  content:"\2606"; 
}
.ico-solid-start:before{
  content:"\2605"; 
}
.ico-circle-star:before{
  content:"\272A"; 
}
.ico-snow:before{
  content:"\2746"; 
}
.ico-radar:before{
  content:"\2745"; 
}
.ico-flag:before{
  content:"\2690"; 
}
.ico-solid-flag:before{
  content:"\2691"; 
}
.ico-heart:before{
  content:"\2661"; 
}
.ico-music:before{
  content:"\266B"; 
}
.ico-sun:before{
  content:"\263C"; 
}
.ico-knot:before{
  content:"\2318"; 
}
.ico-male:before{
  content:"\26A6"; 
}
.ico-female:before{
  content:"\2640"; 
}
.ico-dmale:before{
  content:"\26A3"; 
}
.ico-dfemale:before{
  content:"\26A2"; 
}
.ico-polygon:before{
  content:"\232C"; 
}
.ico-forward:before{
  content:"\2386"; 
}
.ico-table:before{
  content:"\25A6";
}
.ico-grid:before{
  content:"\25A9";
}
.ico-quad:before{
  content:"\25C8"; 
}
.ico-circle-left:before{
  content:"\25D0"; 
}
.ico-circle-right:before{
  content:"\25D1"; 
}
.ico-circle-bottom:before{
  content:"\25D2"; 
}
.ico-circle-top:before{
  content:"\25D3"; 
}
.ico-solid-box:before{
  content:"\29EF"; 
}
.ico-box:before{
  content:"\29EE"; 
}
.ico-caret-left:before{
  content:"\25ED"; 
}
.ico-caret-right:before{
  content:"\25EE"; 
}
.ico-round:before{
  content:"\2672"; 
}
.ico-solid-round:before{
  content:"\267C"; 
}
.ico-layout:before{
  content:"\25EB"; 
}
.ico-circle-outer:before{
  content:"\29BC"; 
}
.ico-border-outer:before{
  content:"\29C6"; 
}





















