/*栅格*/
.yrow{
  zoom:1;
  &::after{
    clear:both;
    content:'';
    display:block;
    height:0;
    visibility:hidden;
  }
  margin-top:10px;
  margin-bottom:10px;
  &.gutter{
    margin-left:-8px;
    margin-right:-8px;
    >div{
      padding:8px;
    }
    &-8{
      margin-left:-8px;
      margin-right:-8px;
      >div{
        padding:8px;
      }
    }
    &-12{
      margin-left:-12px;
      margin-right:-12px;
      >div{
        padding:12px;
      }
    }
    &-16{
      margin-left:-16px;
      margin-right:-16px;
      >div{
        padding:16px;
      }
    }
    &-20{
      margin-left:-20px;
      margin-right:-20px;
      >div{
        padding:20px;
      }
    }
  }
  .ycol{
    &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12{
      position:relative;
      float:left;
    }
  }
  .ycol{
    width:100%;
    &-1{
      width:8.33333333%;
    }
    &-2{
      width:16.66666667%;
    }
    &-3{
      width:25%;
    }
    &-4{
      width:33.33333333%;
    }
    &-5{
      width:41.66666667%;
    }
    &-6{
      width:50%;
    }
    &-7{
      width:58.33333333%;
    }
    &-8{
      width:66.66666667%;
    }
    &-9{
      width:75%;
    }
    &-10{
      width:83.33333333%;
    }
    &-11{
      width:91.66666667%;
    }
    &-12{
      width:100%;
    }
  }
  .yoffset{
    margin-left:0;
    &-0{
      margin-left:0;
    }
    &-1{
      margin-left:8.33333333%;
    }
    &-2{
      margin-left:16.66666667%;
    }
    &-3{
      margin-left:25%;
    }
    &-4{
      margin-left:33.33333333%;
    }
    &-5{
      margin-left:41.66666667%;
    }
    &-6{
      margin-left:50%;
    }
    &-7{
      margin-left:58.33333333%;
    }
    &-8{
      margin-left:66.66666667%;
    }
    &-9{
      margin-left:75%;
    }
    &-10{
      margin-left:83.33333333%;
    }
    &-11{
      margin-left:91.66666667%;
    }
    &-12{
      margin-left:100%;
    }
  }
}
// max-width:1200px
@media screen and (max-width:1200px){
  .y-row{
    .y-col-md{
      width:100%;
      &-1{
        width:8.33333333%;
      }
      &-2{
        width:16.66666667%;
      }
      &-3{
        width:25%;
      }
      &-4{
        width:33.33333333%;
      }
      &-5{
        width:41.66666667%;
      }
      &-6{
        width:50%;
      }
      &-7{
        width:58.33333333%;
      }
      &-8{
        width:66.66666667%;
      }
      &-9{
        width:75%;
      }
      &-10{
        width:83.33333333%;
      }
      &-11{
        width:91.66666667%;
      }
      &-12{
        width:100%;
      }
    }
    .y-offset-md{
      margin-left:0;
      &-0{
        margin-left:0;
      }
      &-1{
        margin-left:8.33333333%;
      }
      &-2{
        margin-left:16.66666667%;
      }
      &-3{
        margin-left:25%;
      }
      &-4{
        margin-left:33.33333333%;
      }
      &-5{
        margin-left:41.66666667%;
      }
      &-6{
        margin-left:50%;
      }
      &-7{
        margin-left:58.33333333%;
      }
      &-8{
        margin-left:66.66666667%;
      }
      &-9{
        margin-left:75%;
      }
      &-10{
        margin-left:83.33333333%;
      }
      &-11{
        margin-left:91.66666667%;
      }
      &-12{
        margin-left:100%;
      }
    }
  }
}
// max-width:992px
@media screen and (max-width:992px){
  .yrow{
    .ycol-sm{
      width:100%;
      &-1{
        width:8.33333333%;
      }
      &-2{
        width:16.66666667%;
      }
      &-3{
        width:25%;
      }
      &-4{
        width:33.33333333%;
      }
      &-5{
        width:41.66666667%;
      }
      &-6{
        width:50%;
      }
      &-7{
        width:58.33333333%;
      }
      &-8{
        width:66.66666667%;
      }
      &-9{
        width:75%;
      }
      &-10{
        width:83.33333333%;
      }
      &-11{
        width:91.66666667%;
      }
      &-12{
        width:100%;
      }
    }
    .yoffset-sm{
      margin-left:0;
      &-0{
        margin-left:0;
      }
      &-1{
        margin-left:8.33333333%;
      }
      &-2{
        margin-left:16.66666667%;
      }
      &-3{
        margin-left:25%;
      }
      &-4{
        margin-left:33.33333333%;
      }
      &-5{
        margin-left:41.66666667%;
      }
      &-6{
        margin-left:50%;
      }
      &-7{
        margin-left:58.33333333%;
      }
      &-8{
        margin-left:66.66666667%;
      }
      &-9{
        margin-left:75%;
      }
      &-10{
        margin-left:83.33333333%;
      }
      &-11{
        margin-left:91.66666667%;
      }
      &-12{
        margin-left:100%;
      }
    }
  }
}
// max-width:768px
@media screen and (max-width:768px){
  .yrow{
    .ycol-xs{
      width:100%;
      &-1{
        width:8.33333333%;
      }
      &-2{
        width:16.66666667%;
      }
      &-3{
        width:25%;
      }
      &-4{
        width:33.33333333%;
      }
      &-5{
        width:41.66666667%;
      }
      &-6{
        width:50%;
      }
      &-7{
        width:58.33333333%;
      }
      &-8{
        width:66.66666667%;
      }
      &-9{
        width:75%;
      }
      &-10{
        width:83.33333333%;
      }
      &-11{
        width:91.66666667%;
      }
      &-12{
        width:100%;
      }
    }
    .yoffset-xs{
      margin-left:0;
      &-0{
        margin-left:0;
      }
      &-1{
        margin-left:8.33333333%;
      }
      &-2{
        margin-left:16.66666667%;
      }
      &-3{
        margin-left:25%;
      }
      &-4{
        margin-left:33.33333333%;
      }
      &-5{
        margin-left:41.66666667%;
      }
      &-6{
        margin-left:50%;
      }
      &-7{
        margin-left:58.33333333%;
      }
      &-8{
        margin-left:66.66666667%;
      }
      &-9{
        margin-left:75%;
      }
      &-10{
        margin-left:83.33333333%;
      }
      &-11{
        margin-left:91.66666667%;
      }
      &-12{
        margin-left:100%;
      }
    }
  }
}

























