.not-found{
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:url("~@app/assets/images/zys.png");
  background-size:50% 50%;
  background-position:center center;
  background-repeat:no-repeat;
  background-color:#3f4e62;
  color:#fff;
  .content{
    position:absolute;
    top:20px;
    text-align:center;
    h2{
      color:#fff;
    }
  }
}