#app.light {
  /* --maxWidth:1200px; */
  --maxWidth:100%;
  --menuWidth:220px;
  --headerHeight:50px;
  --footerHeight:45px;
  --collapseMenuWidth:0;


  --bannerBgColor:#21364a;
  --navBgColor:#21364a;
  --menuBgColor:#2d4054;

  --appColor:#fff;
  --linkColor:#777;
  --linkHoverColor:#00b4cf;
  --linkActiveColor:#00b4cf;

  --appBgColor:#f3f3f3;

  --footerBgColor:#fff;
}

#app.dark {
  /* --maxWidth:1200px; */
  --maxWidth:100%;
  --menuWidth:220px;
  --headerHeight:50px;
  --footerHeight:45px;
  --collapseMenuWidth:0;


  --bannerBgColor:#21364a;
  --navBgColor:#21364a;
  --menuBgColor:#2d4054;

  --appColor:#fff;
  --linkColor:#777;
  --linkHoverColor:#00b4cf;
  --linkActiveColor:#00b4cf;

  --appBgColor:#f3f3f3;

  --footerBgColor:#fff;
}