:root {
  /*colors*/
  --red1: #ef5350;
  --red2: #f44336;
  --red3: #e53935;
  --purple1: #ab47bc;
  --purple2: #9c27b0;
  --purple3: #8e24aa;
  --blue1: #42a5f5;
  --blue2: #2196f3;
  --blue3: #1e88e5;
  --teal1: #26a69a;
  --teal2: #009688;
  --teal3: #00897b;
  --green1: #66bb6a;
  --green2: #4caf50;
  --green3: #43a047;
  --yellow1: #ffee58;
  --yellow2: #ffeb3b;
  --yellow3: #fdd835;
  --orange1: #ffa726;
  --orange2: #ff9800;
  --orange3: #fb8c00;
  --grey1: #bdbdbd;
  --grey2: #9e9e9e;
  --grey3: #757575;
  --blueGrey1: #78909c;
  --blueGrey2: #607d8b;
  --blueGrey3: #546e7a;
  --lightText: #ffffff;
  --darkText: #000000;

  /*size*/
  --size: 1.4rem;
  --weight: 400;
  --color: #444444;
  --bgcolor: #eaeff2;
  --title-size: 1.6rem;
  --title-weight: 500;
  --title-color: #404040;
  --link-size: 1.4rem;
  --link-weight: 400;
  --link-color: #f0f0f0;
  --hover-color: #42a5f5;
  --hover-bgcolor: #eaeff2;
  --disabled-color: rgba(0, 0, 0, 0.25);
  --disabled-bgcolor: #f5f5f5;

  --space: 1.2rem;
  --h1: 2.6rem;
  --h2: 2.2rem;
  --h3: 1.8rem;
  --h4: 1.6rem;
  --h5: 1.4rem;
  --h6: 1.2rem;
}
