/* canvas test
** 20160119
** yiru
*/
html,body{
	margin:0;
	padding:0;
}

canvas{
	border:1px solid #333;
	position:absolute;
	left:0;
	top:0;
	z-index:0;
}

.margin-10-5{
	margin:10px 5px;
}

.carea{
	position:relative;
}