/* global style*/
@import "./shapes.less";

/*.section-style{
  overflow:hidden;
  padding:10px 12px;
  background-color:#fff;
  color:#333;
  height:100%;
  border-radius:2px;
}*/
.node-style {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  user-select: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
  transition: color 0.3s;
}

/*li{
  >a{
    .ellipsis();
    >span{
      .ellipsis();
    }
  }
}*/

.ant-form-inline {
  .ant-form-item {
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ant-form-item-label > label {
  color: var(--appColor) !important;
}
.ant-tree {
  color: var(--appColor) !important;
  background: transparent !important;
}

.ant-table {
  color: var(--appColor) !important;
  background: transparent !important;
  &.ant-table-bordered > .ant-table-container {
    border: 1px solid var(--borderColor) !important;
  }
  table {
    border-top: 0 !important;
  }
  table > tbody > tr > td {
    border: 1px solid var(--borderColor) !important;
  }
  table > thead > tr > th {
    border: 1px solid var(--borderColor) !important;
    background-color: var(--appBgColor) !important;
    color: var(--appColor) !important;
  }
  table > tbody > tr:hover > td {
    background: var(--appBgColor) !important;
  }
  .ant-table-cell-scrollbar {
    box-shadow: 0 1px 0 1px var(--borderColor);
  }
}

/*.ant-input-affix-wrapper,.ant-select-selector,.ant-input,.ant-input-number{
  border:1px solid rgba(0,0,0,.08) !important;
  background-color:rgba(0,0,0,.08) !important;
  color:var(--appColor) !important;
}
.ant-input,.ant-input-number{
  // border:1px solid rgba(0,0,0,.08) !important;
  background-color:transparent !important;
  color:var(--appColor) !important;
}*/

.ant-pro-table {
  .ant-card {
    background: transparent;
    .ant-card-body {
      padding: 0;
    }
    .ant-pro-table-list-toolbar-title {
      color: var(--appColor) !important;
    }
    .ant-btn-dashed {
      background: transparent;
      color: var(--appColor) !important;
      border-color: var(--borderColor);
    }
    td {
      pre {
        padding: 10px !important;
        background: var(--panelBgColor) !important;
        width: 100% !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
