/* global style*/

/*.section-style{
  overflow:hidden;
  padding:10px 12px;
  background-color:#fff;
  color:#333;
  height:100%;
  border-radius:2px;
}*/
.node-style {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  user-select: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
  transition: color 0.3s;
}

/*li{
  >a{
    .ellipsis();
    >span{
      .ellipsis();
    }
  }
}*/
