/* mycss */

html,body{
	padding:0;
	margin:0;
	width:100%;
	overflow:auto;
	background:#fff;
	text-align:center;
	
	font-family: Arial,微软雅黑,Helvetica,sans-serif,黑体,宋体;
}
body{
	position:relative;
}

ul{
	list-style:none;
	padding:0;
	margin:0;
}
li{
	/*display:inline-block;*/
}
a{
	text-decoration:none !important;
	color:#888;
}
a:hover{
	color:#20b2aa;
}
.hw{
	width:1210px;
	margin:0 auto;
	overflow:hidden;
}

.header{
	height:32px;
	line-height:32px;
	width:100%;
	background:#eee;
	/* border-bottom:1px solid #1E90FF; */
	overflow:hidden;
	/*padding:0 5%;*/
	font-size:11px;
}

.head_l{
	float:left;
	overflow:hidden;
}
.h-drop{
	/*position:relative;*/
	color:#888;
	/*width:100px;*/
	border-left:1px solid transparent;
	border-right:1px solid transparent;
}
.h-drop:hover{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background:#fff;
}
.drop-title{
	padding:0 10px;
	/*margin-bottom:1px;*/
}
.drop-title i{
	font-size:18px;
	color:#777;
}

.drop-area{
	background:#fff;
	border:1px solid #ccc;
	border-top:none;
	position:absolute;
	margin-left:-1px;
	/*margin-top:-1px;*/
	z-index:999;
	display:none;
}
.cities{
	width:265px;
	padding:10px;
}

.cities ul{
	list-style:none;
	padding:0;
}
.cities li{
	margin:1px 3px;
	padding:0px 8px;
	display:inline-block;
	cursor:pointer;
}
.cities li:hover{
	background:#eee;
	color:red;
}
.sel{
	background:red;
	color:#fff;
}


.head_r{
	float:right;
}
.head_r ul{
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}
.head_r li{
	margin:0 3px;
	padding:0 8px;
	/*display:inline-block;*//*有间隔*/
	float:left;
	cursor:pointer;	
	/*border-right:1px solid #ddd;*/
	overflow:hidden;
}
.head_r li a{
	color:#888;
	text-decoration:none;
}
.head_r li a:hover{
	color:red;
}

.myinfo{
	padding:5px 20px;
}

.ins-left{
	float:left;
	margin-right:15px;
}
.ins-right{
	float:right;
}
.ins-logn{
	margin-left:45px;
}
.myinfo p{
	margin-bottom:0px;
}

/****************************************************************************/

.h-ads{
	width:100%;
	height:80px;
	background-color:#d5d3d6;
	text-align:center;
}
.h-ads>div{
	position:relative;
	margin:0 auto;
	overflow:hidden;
}

.h-close{
	position:absolute;
	top:5px;
	right:5px;
	padding:1px 5px;
	background:#bbb;
	cursor:pointer;
	color:#fff;
	font-size:11px;
	font-weight:300;
}
.h-close:hover{
	background:#777;
}


.top{
	margin:0 auto;
	padding:20px 0;
	overflow:hidden;
}
.logo{
	/*background:url(pic/logo.png) no-repeat;*/
	width:270px;
	height:60px;
	float:left;
}
.logo{
	padding:15px;
	font-size:28px;
	font-weight:600;
	color:#50B432;
}
.search{
	float:left;
	margin-left:50px;
	padding-top:10px;
}
.search input{
	border:2px solid #20b2aa;
	width:540px;
	height:40px;
	padding:2px 6px;
	float:left;
}
.search button{
	width:60px;
	height:40px;
	padding:2px 6px;
	background:#20b2aa;
	font-size:14px;
	color:#fff;
	border:none;
	float:left;
}
.search ul{
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
}
.search li{
	margin:1px 4px;
	display:inline-block;
}
.search li:first-child{
	margin-left:0;
}
.search li a{
	color:#777;
	font-size:12px;
	text-decoration:none;
}
.search li a:hover{
	color:red;
}

.cart{
	float:right;
	margin-right:50px;
	padding-top:5px;
}
.cart-bar{
	margin:0 auto;
	border:1px solid #ccc;
	padding:0 10px;
	width:180px;
	height:45px;
	line-height:45px;
	background:#eee;
	position:relative;
	cursor:pointer;
}
.cart-bar i{
	font-size:21px;
	color:#20b2aa;
}
.cart-bar .fa-cart-plus{
	margin-right:15px;
}
.cart-bar .fa-chevron-circle-right{
	margin-left:15px;
}
.cart-txt{
	display:inline-block;
	margin:0 12px;
	font-size:13px;
	font-weight:600;
}
.cart-bar:after{
	position:absolute;
	width:20px;
	height:16px;
	content:'0';
	line-height:16px;
	display:inline-block;
	color:#fff;
	font-size:13px;
	
	top:-8px;
	right:48px;
	border-radius:8px 10px 8px 0;
	background:#20b2aa;
}

/****************************************************************************/

.mynav{
	width:100%;
	height:42px;
	line-height:42px;
	border-bottom:3px solid #20b2aa;
	overflow:hidden;
}
.nav-l{
	float:left;
	width:210px;
	color:#fff;
	position:absolute;
	text-align:left;
}
.nl-title{
	background:#008b8b;
	font-size:18px;
	padding-left:20px;
}
.nl-list{
	background:#20B2AA;
	font-size:14px;
	color:#fff;
	width:100%;
	position:relative;
}
.nl-list>ul>li{
	height:32px;
	line-height:32px;
	padding-left:20px;
	border-bottom:1px solid #eee;
	cursor:pointer;
}
.nl-list>ul>li:last-child{
	border-bottom:none;
}

.nl-list>ul>li:hover{
	background:#fff;
	color:#32CD32;
}

.nl-right{
	float:right;
	padding:0 5px;
	color:#fff;
}

.show-list{
	width:300px;
	height:384px;
	border-right:2px solid #20B2AA;
	border-bottom:2px solid #20B2AA;
	background:#fff;
	position:absolute;
	top:0;
	left:210px;
	display:none;
	z-index:1000;
}
.show-list>div{
	padding:0 15px;
	color:#000;
	font-size:14px;
	font-weight:600;
}

.show-list>ul>li{
	float:left;
	height:32px;
	line-height:32px;
	padding:0 15px;
	font-size:13px;
	font-weight:500;
}
.show-list>ul>li>a{
	color:#20B2AA;
}
.show-list>ul>li>a:hover{
	color:#888;
}


.nav-m{
	float:left;
	margin-left:210px;
}
.nav-m li{
	margin:0 10px;
	display:inline-block;
}
.nav-m li a{
	text-decoration:none;
	color:#444;
	font-size:16px;
	font-weight:600;
}
.nav-m li a:hover{
	color:#20b2aa;
}
.nav-r{
	float:right;
	padding-right:100px;
}
.nav-r a{
	margin-right:5px;
	color:red;
	font-size:13px;
}
.nav-r a:hover{
	color:#aaa;
}

/****************************************************************************/

.h-slider{
	
}
.slider-area{
	background:#fff;
	height:384px;
	width:750px;
	margin-left:210px;
	float:left;
	padding:10px 10px 0 10px;
}
.ads-area{
	height:374px;
	width:250px;
	float:right;
	margin-top:10px;
	border:1px solid #eee;
	text-align:left;
}
.fieldset1{
	border-bottom:1px dotted #ccc;
}
.ads-area-top{
	padding:10px;
	border-bottom:1px solid #eee;
}
.ads-area-title{
	font-size:14px;
	font-weight:600;
}
.fieldset1 ul{
	padding:10px 10px 10px 20px;
}
.fieldset1 ul li{
	padding:3px 0;
}

.life-server{
	
}
.life-server li{
	display:inline-block;
	float:left;
	width:62px;
	height:72px;
	text-align:center;
	color:#fff;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
}

.carousel-indicators li{
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active{
	background:#f60;
}

/****************************************************************************/

/****************************************************************************/
.bgc1{background:#24CBE5 !important;}
.bgc2{background:#64E572 !important;}
.bgc3{background:#FF9655 !important;}
.bgc4{background:#DDDF00 !important;}
.bgc5{background:#ED561B !important;}
.bgc6{background:#50B432 !important;}
.bgc7{background:#058DC7 !important;}
.bgc8{background:#FFF263 !important;}
.bgc9{background:#6AF9C4 !important;}
.bgc10{background:#FF7F50 !important;}
.bgc11{background:#DC143C !important;}
/****************************************************************************/

.daily,.suggest,.f1,.f2,.f3,.f4,.f5,.f6,.f7{
	margin-top:10px;
}

.myrow{
	height:150px;
	width:20%;
	float:left;
}

.daily-title{
	overflow:hidden;
	padding:0 15px;
	height:30px;
	line-height:30px;
}

.daily-left{
	float:left;
	font-size:22px;
	color:#f60;
}
.daily-refresh{
	float:right;
	cursor:pointer;
}

.sug-img img{
	float:left;
}

/****************************************************************************/

.floors{
	overflow:hidden;
}
.floor-t{
	height:36px;
	line-height:33px;
	border-bottom:1px solid #20b2aa;
	position:relative;
}

.ft-flag{
	float:left;
	width:30px;
	height:30px;
	line-height:30px;
	background:#20b2aa;
	color:#fff;
	font-size:16px;
}
.ft-txt{
	float:left;
	font-size:22px;
	padding:0 10px;
}

.floor-t ul{
	float:right;
}
.floor-t li{
	float:left;
	padding:0 25px;
	border-left:1px solid transparent;
	border-top:3px solid transparent;
	border-right:1px solid transparent;
	cursor:pointer;
}

.ft-sel{
	background:#fff;
	color:#20b2aa;
	border-left:1px solid #20b2aa !important;
	border-top:3px solid #20b2aa !important;
	border-right:1px solid #20b2aa !important;
}

.floor-c{
	overflow:hidden;
}
.fc-left{
	float:left;
	width:210px;
	height:450px;
}
.fc-right{
	float:left;
	height:450px;
	width:1000px;
}
.fcl-t{
	height:210px;
}
.fcl-m{
	height:112px;
	background:#e1f4c0;
	padding:15px;
}
.floor-c p>a{
	color:#666;
	font-size:11px;
}
.floor-c p>a:hover{
	color:#20b2aa;
}
.fcl-m p>a:nth-child(2){
	margin-left:20px;
}

.fcl-b{
	height:128px;
	background:#eef9dd;
}
.fcl-b h4{
	margin:0;
	padding:10px;
	font-size:17px;
}
.fcl-b p{
	text-align:left;
	margin-left:20px;
}
/****************************************************************************/

.pd-list{
	display:none;
}

.pd-lt,.pd-lb{
	border-bottom:1px solid #ddd;
	overflow:hidden;
}
.pdt-img,.pdb-img{
	float:left;
	border-right:1px solid #ddd;
	position:relative;
}

.pdt-img img{
	margin:20px;
	width:209px;
	height:209px;
}

.pdb-img img{
	margin:20px;
	width:159px;
	height:159px;
}
.pd-list img:hover{
	opacity:.8;
}
.pd-price{
	position:absolute;
	left:20px;
	bottom:0;
	height:42px;
	background:#fff;
	opacity:.8;
	padding:0 5px;
}
.pdt-img .pd-price{
	width:209px;
}
.pdb-img .pd-price{
	width:159px;
}
.pd-price a{
	display:block;
	text-align:left;
	color:#999;
}
.pd-price a:hover{
	color:#333;
}
.pd-price span{
	display:block;
	float:right;
	color:#d31223;
	font-size:16px;
	font-weight:600;
}

/****************************************************************************/

.mybottom{
	margin-top:20px;
	padding:20px 0;
	border-bottom:1px solid #eee;
	text-align:left;
}
.mybb{
	width:242px;
	float:left;
	padding:20px 25px;
}
.myb-t{
	padding-bottom:10px;
}
.myb-t>i{
	font-size:24px;
	color:#20b2aa;
}
.myb-t>span{
	font-size:17px;
	font-weight:600;
	margin-left:8px;
}
.mybb li{
	padding:0 0 3px 35px;
}
.mybb a{
	color:#888;
}
.mybb a:hover{
	color:#20b2aa;
}

/****************************************************************************/

.h-footer1{
	position:absolute;
	bottom:0;
	height:100px;
	line-height:100px;
	width:100%;
}
.h-footer{
	padding:20px 0;
	color:#888;
	font-size:11px;
}
.h-footer ul{
	overflow:hidden;
	text-align:center;
	margin:10px 0;
}
.h-footer li{
	/*float:left;
	border-right:1px solid #aaa;*/
	display:inline-block;
}
.h-footer li:last-child{
	border-right:none;
}
.h-footer li>a{
	color:#888;
	margin:0 10px;
}
.h-footer li>a:hover{
	color:#20b2aa;
}
.h-footer p{
	margin-bottom:5px;
}

