/**
@brandBgColor:#af5cc1;
@brandColor:#ffffff;
@navBgColor:#7266ba;
@navColor:#f0f0f0;
@menuBgColor:#666666;
@menuColor:#ffffff;
@standardColor:#0066ff;
@headerHeight:48px;
@footerHeight:40px;
@collapseMenuWidth:52px;
@menuWidth:220px;
**/
body header .y-header {
  height: 48px;
  line-height: 48px;
}
body header .y-header > .y-brand {
  width: 200px;
  background-color: #af5cc1;
}
body header .y-header > .y-brand > .brand {
  color: #ffffff;
}
body header .y-header > .y-nav {
  width: calc(100% -  200px);
  background-color: #7266ba;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li {
  height: 48px;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li.vertical > a:not(.img) {
  padding: 7.5px 0;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li > a {
  color: #f0f0f0;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li > a:hover {
  color: #f0960f;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li > a.active {
  color: #f08a0f;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li > a > img {
  margin-top: 7.2px;
  width: 33.6px;
  height: 33.6px;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li > a.img::after {
  background-color: #0ff00f;
  border-color: #9289ca;
  bottom: 9.2px;
  right: 0.10661491px;
}
body header .y-header > .y-nav > .y-nav-wrap > ul > li > .y-dropdown {
  top: calc(48px + 5px);
}
body aside .y-sidebar {
  color: #666;
  top: 48px;
  width: 200px;
}
body aside .y-sidebar .y-sidebar-wrap .y-user-logo {
  background-color: #f2f2f2;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-bgcolor {
  width: 200px;
  background-color: #fff;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list .y-sidebar-title {
  height: 48px;
  line-height: 48px;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list .y-sidebar-title > i {
  height: 48px;
  line-height: 48px;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list .y-sidebar-title > i:hover {
  color: #667a99;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root {
  background-color: #fff;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > ul {
  background-color: #f7f7f7;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > ul > li > ul {
  background-color: #f0f0f0;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > ul > li > ul > li > ul {
  background-color: #e8e8e8;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul > li > a {
  color: #666;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul > li > a:hover {
  color: #667a99;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul > li > a:hover > span {
  background-color: #667a99;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul > li > a.active {
  color: #660099;
}
body aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul > li > a.active > span {
  background-color: #660099;
}
body aside .y-sidebar .navbar-collapse {
  height: 48px;
}
body aside .y-sidebar .navbar-collapse > a {
  background-color: #af5cc1;
  color: #ffffff;
}
body aside .y-sidebar .navbar-collapse > a:hover {
  background-color: #ffffff;
  color: #af5cc1;
}
body aside .y-sidebar .navbar-collapse.open > a {
  background-color: #ffffff;
  color: #af5cc1;
}
body aside .y-sidebar .navbar-collapse.open > a:hover {
  background-color: #af5cc1;
  color: #ffffff;
}
body aside .right-bar {
  top: 48px;
}
body main .y-main {
  padding-top: 48px;
  margin-left: 200px;
}
body main .y-main .y-footer {
  height: 40px;
  line-height: 40px;
}
body main .y-main .y-footer + .y-container {
  padding-bottom: calc(1.2vw +  40px);
}
body main .y-main .y-container .y-pageheader + .y-pagecontent {
  min-height: calc(100vh - 2.4vw - 38px -  48px - 40px);
}
body main .y-main .y-container .y-pagecontent {
  min-height: calc(100vh - 2.4vw -  48px - 40px);
}
body.y-collapse aside .y-sidebar .y-sidebar-wrap .y-sidebar-bgcolor {
  width: 50px;
}
body.y-collapse aside .y-sidebar .y-sidebar-wrap .y-sidebar-list .y-sidebar-title {
  width: 50px;
}
body.y-collapse aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root {
  width: 50px;
}
body.y-collapse aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > a > i:first-child {
  width: 50px;
}
body.y-collapse aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > ul {
  left: 50px;
}
body.y-collapse main .y-main {
  margin-left: 50px;
}
body.horizontal aside .y-sidebar {
  left: 200px;
  width: calc(100% - 300px -  200px);
  height: 48px;
}
body.horizontal aside .y-sidebar .y-sidebar-wrap .y-sidebar-bgcolor {
  left: 200px;
  width: calc(100% - 300px -  200px);
  height: 48px;
}
body.horizontal aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > a {
  height: 48px;
}
body.horizontal aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > a > i {
  height: 48px;
  line-height: 48px;
}
body.horizontal aside .y-sidebar .y-sidebar-wrap .y-sidebar-list ul.tree-root > li > a > p {
  line-height: 48px;
}
body.horizontal main .y-main {
  padding-top: 48px;
}
@media screen and (max-width: 992px) {
  body header .y-header .y-nav {
    width: 100%;
  }
  body main .y-main {
    margin-left: 50px;
  }
  body.horizontal aside .y-sidebar {
    left: 0;
    width: 100%;
  }
  body.horizontal aside .y-sidebar .y-sidebar-wrap .y-sidebar-bgcolor {
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body header .y-header {
    height: 96px;
  }
  body aside .y-sidebar,
  body aside .right-bar {
    top: 96px;
  }
  body main .y-main {
    padding-top: 96px;
  }
  body.h-collapse header .y-header {
    height: 48px;
    line-height: 48px;
  }
  body.h-collapse aside .y-sidebar {
    top: 48px;
    right: -200px;
    width: 200px;
  }
  body.h-collapse aside .y-sidebar .y-sidebar-wrap .y-sidebar-bgcolor {
    top: 48px;
    right: -200px;
    width: 200px;
  }
  body.h-collapse main .y-main {
    padding-top: 48px;
  }
}
