.container{
	width:100%;
	position:relative;
}

.nav{
	position:absolute;
	top:24px;
	right:5%;
	height:60px;
	width:60px;
	border-radius:50%;
	background-color:rgba(0,0,0,.7);

	transition:background .2s;
}
.nav:hover{
	background-color:#000;
}
.ico,.ico::before,.ico::after{
	position:absolute;
	background-color:#fff;
	border-radius:2px;
	transform:translateZ(0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.ico{
	width:24px;
	height:3px;
	display:inline-block;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	transition:transform .2s,background-color .2s;
}
.ico::before,.ico::after{
	content:'';
	width:100%;
	height:100%;
	top:0;
	left:0;
	transition:transform .2s;
}
.ico::before{
	transform:translateY(-8px);
}
.ico::after{
	transform:translateY(8px);
}
/********************************/
.ico1{
	background-color:rgba(255,255,255,0);
}
.ico1::before{
	transform:rotate(45deg);
}
.ico1::after{
	transform:rotate(-45deg);
}
/********************************/

.ico2::before{
	transform:translateX(6px) translateY(-5px) rotate(45deg) scaleX(.5);
}
.ico2::after{
	transform:translateX(6px) translateY(5px) rotate(-45deg) scaleX(.5);
}
/********************************/
.ico3{
	transform:translateX(-50%) translateY(-50%) rotate(-90deg);
}
.ico3::before{
	transform:translateX(-6px) translateY(-5px) rotate(-45deg) scaleX(.5);
}
.ico3::after{
	transform:translateX(-6px) translateY(5px) rotate(45deg) scaleX(.5);
}
/********************************/
.ico0{
	transform:translateX(-50%) translateY(-50%) rotate(-90deg);
}
.ico0{
	background-color:rgba(0,0,0,0);
}
.ico4{
	background-color:#fff;
	transform:translateX(-75%) translateY(-50%) rotate(-90deg);
}
.ico4::before{
	transform-origin:0 0;
	transform:rotate(60deg);
}
.ico4::after{
	transform-origin:100% 100%;
	transform:rotate(-60deg);
}
.ico0::before{
	transform-origin:0 0;
}
.ico0::after{
	transform-origin:100% 100%;
}

