*,
*::after,
*::before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --rootSize: 62.5%;
}

html {
  font-family: Arial, "Microsoft YaHei", Helvetica, serif, "sans-serif", "黑体", "宋体";
  font-size: var(--rootSize);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1920px) {
  html {
    /* font-size:75%; */
    font-size: calc(var(--rootSize) * 1.2);
  }
}

@media screen and (max-width: 1920px) {
  html {
    /* font-size:67%; */
    font-size: calc(var(--rootSize) * 1.075);
  }
}

@media screen and (max-width: 1440px) {
  html {
    /* font-size:62.5%; */
    font-size: var(--rootSize);
  }
}

@media screen and (max-width: 1366px) {
  html {
    /* font-size:58%; */
    font-size: calc(var(--rootSize) / 1.075);
  }
}

@media screen and (max-width: 1024px) {
  html {
    /* font-size:53.5%; */
    font-size: calc(var(--rootSize) / 1.075 / 1.075);
  }
}

@media screen and (max-width: 768px) {
  html {
    /* font-size:50.3%; */
    font-size: calc(var(--rootSize) / 1.075 / 1.075 / 1.075);
  }
}

body {
  --fontSize: 1.3rem;
  margin: 0;
  line-height: 1.42857143;
  font-size: var(--fontSize);
  color: var(--appColor);
  background-color: transparent;
  z-index: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
button,
textarea {
  outline: 0;
  margin: 0;
  border-radius: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c7c7c7;
}

input[disabled],
button[disabled],
a[disabled] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  opacity: 0.7;
}

button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
