/* Works on Firefox */
/* * {
  scrollbar-width:thin;
  scrollbar-color:rgba(0,0,0,.3) transparent;
} */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 
::selection {
  color: #ffffff;
  background-color: #fa541c;
}
* {
  user-select: none;
  caret-color: #faad14;
} */
